<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <a href = "/search" class="btn btn-info" type="submit">Search</a>
  </form>
</nav>

<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="http://images-assets.nasa.gov/image/PIA13288/PIA13288~orig.jpg" class="d-block w-100" width="350" height="600">
        <div class="carousel-caption d-none d-md-block text-white ">
            <h5></h5>
            <p></p>
        </div>
    </div>
</div>
<br>
<button type="button" class="btn btn-success">Add To Collection</button>